@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-touch canvas {
  touch-action: none;
}
@layer utilities {
  .inset-shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 2px -2px 2px inset,
      rgba(255, 255, 255, 0.3) -2px 2px 2px inset;
  }
}
.inset-right {
  box-shadow: rgba(0, 0, 0, .4) -3px 0px 10px
}
body {
  @apply bg-lightbg;
}

/* // idk, helps canvas shrink
*  https://stackoverflow.com/a/59698584
*  https://stackoverflow.com/a/36247448
*/
/* .flex {
  min-width: 0;
  min-height: 0;
} */