@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-touch canvas {
  touch-action: none;
}
@layer utilities {
  .inset-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px inset, rgba(255, 255, 255, .1) 0px 1px 0px inset;
  }
}
button {
  @apply rounded-md p-1 m-1 bg-primary inset-shadow;
}
button:hover {
  @apply bg-primary bg-opacity-50;
}
body {
  @apply bg-lightbg;
}
