.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fae7b2;
  height: 100vh;
  /* min-height: 100vh; */
  /* display: grid;
  font-size: calc(10px + 2vmin); */
  /* grid-template-rows: 20px 200px; */
  /* minwidth: 700px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.App-link {
  color: #61dafb;
}

canvas {
  touch-action: none;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
