.Parent {
	margin: 0;
	background-size: 250% !important;
	background-position: 100% !important;
	transition-property: background, transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}
.Child {
	width: 100%;
	transition: opacity 0.6s ease;
	opacity: 1;
}

.Parent:is(:hover, :focus-within):not(:disabled) {
	background-position: 0 !important;
}
.Parent[data-pressed] {
	transform: scale(0.9);
}
.Parent:is(:hover, :focus-within):not(:disabled) .Child{
	/* opacity: 0.8; */
	/* --tw-bg-opacity: 0.8; */
}